[submodule ".config/mpv/scripts/file-browser"]
	path = .config/mpv/scripts/file-browser
	url = https://github.com/CogentRedTester/mpv-file-browser
[submodule ".config/yazi/plugins/allmytoes.yazi"]
	path = .config/yazi/plugins/allmytoes.yazi
	url = https://github.com/Sonico98/allmytoes.yazi
[submodule ".config/yazi/plugins/exifaudio.yazi"]
	path = .config/yazi/plugins/exifaudio.yazi
	url = https://github.com/Sonico98/exifaudio.yazi
[submodule ".config/yazi/flavors/tokyo-night.yazi"]
	path = .config/yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi
