* {
  font-family:
    scientifica,
    FantasqueSansM Nerd Font,
    Stick;
  font-size: 15px;
}

#workspaces button label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

#workspaces button {
  padding: 0px 6px;
  border-radius: 0px;
  color: #c5c8c6;
}

#workspaces button.active {
  color: #1a1b26;
  background: #7aa2f7;
}

window#waybar {
  background-color: #1a1b26;
}

#privacy,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#gamemode,
#language,
#custom-pingo,
#mpd {
  margin: 0px 6px;
  margin-bottom: 1px;
}

#language {
  background: #2e3440;
  padding: 0px 6px 0px 8px;
  margin-left: 5px;
  margin-right: 0px;
}

#custom-pingo {
  margin-right: -12px;
}

#clock,
#privacy,
#gamemode {
  color: #7aa2f7;
}
